<label for="local-stream"></label>
<video autoplay muted id="local-stream">Local Video Stream</video>
<label for="remote-stream"></label>
<video autoplay id="remote-stream">Remote Video Stream</video>
<section id="actions">
  <button id="connect">Connect</button>
  <button id="call">Call</button>
  <button id="disconnect">Disconnect</button>
</section>
